Package: net.p0358.noti-fi
Name: Noti-Fi
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Android Wi-Fi connection notification
Maintainer: p0358
Author: Baw Appie, p0358
Section: Tweaks
Conflicts: com.rpgfarm.noti-fi
